<a mat-raised-button [routerLink]="['']" color="primary">{{ "USER.BACKBUTTON" | translate }}</a>
<ul class="user-list">
  <li>name: {{ user.name }}</li>
  <li>email: {{ user.email }}</li>
  <li>
    address:
    <ul>
      <li>street: {{ user.address.street }}</li>
      <li>suite: {{ user.address.suite }}</li>
      <li>city: {{ user.address.city }}</li>
      <li>zipcode: {{ user.address.zipcode }}</li>
    </ul>
  </li>
  <li>phone: {{ user.phone }}</li>
  <li>website: {{ user.website }}</li>
  <li>
    company:
    <ul>
      <li>name: {{ user.company.name }}</li>
      <li>catchPhrase: {{ user.company.catchPhrase }}</li>
    </ul>
  </li>
</ul>
