<mat-toolbar class="container" color="primary">
  <div>
    <h2>{{ "HEADER.TITLE" | translate }}</h2>
  </div>
  <mat-form-field class="languages">
    <mat-label>{{ "LANGUAGES.TITLE" | translate }}</mat-label>
    <mat-select
      class="select-lang"
      [value]="selectedLanguage"
      (selectionChange)="languageChange($event)"
    >
      <mat-option *ngFor="let option of languages" [value]="option.id">{{
        option.title
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
